.about-div {
  overflow: scroll;
  height: 75vh;
  background-color: #f2f3f7;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.hero {
  height: 40%;
  background: url('../assets/hero.png') no-repeat;
  background-size: contain;
  background-position: center;
}
