.controls {
  width: 50%;
  height: 100%;
  background-color: #F2F4F7;
  border-radius: 4px 0 0px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.controls hr {
  width: 90%;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 10px;
}

.button {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  width: 33.3%;
  height: 33.3%;
  transition: background-color .3s;
  cursor: pointer;
  padding: 1px;
  box-sizing: border-box;
}

.selected-button {
  padding: 0px;
  background-color: #DEE3EB;
  border: 1px solid #1a0248;
}

.button:hover {
  background-color: #DEE3EB;
}

.bg-0 {
  background: url('../assets/projects-icon.png') no-repeat;
}

.bg-1 {
  background: url('../assets/employees-icon.png') no-repeat;
}

.bg-2 {
  background: url('../assets/form-icon.png') no-repeat;
}

.bg-3 {
  background: url('../assets/reports-project-icon.png') no-repeat;
}

.bg-4 {
  background: url('../assets/reports-employee-icon.png') no-repeat;
}

.bg-7, .bg-6 {
  background: url('../assets/plus-icon.png') no-repeat;
}

.bg-5 {
  background: url('../assets/temp-icon.png') no-repeat;
}

.circle-icon {
  background-size: 50%;
  background-position-x: center;
  background-position-y: center;
  min-height: 82px;
  width: 82px;
  border-radius: 100%;
  box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.19);
  background-color: #ffffff;
}

.button-name {
  text-align: center;
}
