.controls {
  width: 50%;
  height: 100%;
  background-color: #F2F4F7;
  border-radius: 4px 0 0px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.controls hr {
  width: 90%;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 10px;
}

.button {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 33.3%;
  height: 33.3%;
  transition: background-color .3s;
  cursor: pointer;
  padding: 1px;
  box-sizing: border-box;
}

.selected-button {
  padding: 0px;
  background-color: #DEE3EB;
  border: 1px solid #1a0248;
}

.button:hover {
  background-color: #DEE3EB;
}

.circle-icon {
  min-height: 82px;
  width: 82px;
  border-radius: 100%;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 10px -9px rgba(0,0,0,0.75)
}

.button-name {
  text-align: center;
}
